<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="pesquisarTermo" (ionInput)="filtrarPokemon()" placeholder="Buscar Pokémon"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let pokemon of filtroPokemon">
        <ion-card id="open-modal" (click)="openModal(pokemon)">
          <ion-card-header>
            <ion-card-title>
              {{ pokemon.name }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.url.split('/')[6] }}.png"
              alt="{{ pokemon.name }}" />
            <p>Clique para mais detalhes...</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-modal [isOpen]="isModalOpen" (willDismiss)="fecharModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
       
          <ion-title>Descrição</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="fecharModal()" [strong]="true">OK</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div *ngIf="selectedPokemon">
          <img [src]="selectedPokemon.sprites.front_default" alt="{{ selectedPokemon.name }}" />
          <img [src]="selectedPokemon.sprites.back_default" alt="{{ selectedPokemon.name }}" />
          <img [src]="selectedPokemon.sprites.front_shiny" alt="{{ selectedPokemon.name }} shiny" />
          <img [src]="selectedPokemon.sprites.back_shiny" alt="{{ selectedPokemon.name }} shiny" />
     
          <p><strong>Altura:</strong> {{ selectedPokemon.height / 10 }} m</p>
          <p><strong>Peso:</strong> {{ selectedPokemon.weight / 10 }} kg</p>
          <p><strong>Experiência:</strong> {{ selectedPokemon.base_experience }}</p>
     
          <div *ngIf="selectedPokemon.types">
            <p><strong>Tipos:</strong></p>
            <ul>
              <li *ngFor="let type of selectedPokemon.types">{{ type.type.name | titlecase }}</li>
            </ul>
          </div>
     
          <div *ngIf="selectedPokemon.abilities">
            <p><strong>Habilidades:</strong></p>
            <ul>
              <li *ngFor="let ability of selectedPokemon.abilities">{{ ability.ability.name | titlecase }}</li>
            </ul>
          </div>
     
          <div *ngIf="selectedPokemon.stats">
            <p><strong>Status:</strong></p>
            <ul>
              <li *ngFor="let stat of selectedPokemon.stats">
                {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
              </li>
            </ul>
          </div>
     
          <div *ngIf="selectedPokemon.moves">
            <p><strong>Filmes:</strong></p>
            <ul>
              <li *ngFor="let move of selectedPokemon.moves">{{ move.move.name | titlecase }}</li>
            </ul>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>